body {
  font-family: Arial, sans-serif;
  background: white;
  text-align: center;
  margin: 0;
}


#songlink {
  border: 5px black;
  width: 250px;
  padding: 10px;
  font-size: 14px;
  text-align: left;
}

#songlink img {
  float: left;
  margin-right: 8px;
}